/* can someone make the color scheme better> */

/*  Body styling */
body {
    background-color: white;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

/* large and centered text class */
.large {
    font-size: 25px;
    text-align: center;
    padding-top: 40px;
}

/*  Footer Styling */
footer {
    text-align: center;
    background-color: #63dbff;
    padding: 30px;
}

/* NavBar container */
.navbar {
    text-align: center;
}

/* Link Styling for Navbar Link item */
.navbar a {
    text-decoration: none;
    font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
    color:rgb(0,0,0);
    font-size: 32px;
    font-weight: 700;
    padding: 5px 16px 16px;
    display: inline-block;
}

/* Navbar links on hover */
.navbar a:hover {
    background-color: lightblue;
}

/* The container for dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    background-color: #63dbff;
}
  

/* Dropdown Button */
.dropbtn {
    background-color: inherit;
    color: white;
    border: none;
}

  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: inherit;
    min-width: 156px;
    z-index: 1;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    text-decoration: none;
    font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
    color:rgb(0,0,0);
    font-size: 16px;
    font-weight: 700;
    padding: 16px;
    display: block;
}

/* Dropdown links on hover */
.dropdown-content a:hover {
      background-color: lightblue;
}
  
/* Show dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
  
/* Change color of the button when the Drop Down Content is shown */
.dropdown:hover .dropbtn {
    background-color: lightblue;
}

header {
    background-color: #63dbff;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

section h1 {
    font-size: 40pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: inline;
    width: 90%;
}

section {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

section p {
    font-size: 15pt;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

ul.spaceList {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 30px;
}

ul.spaceList li{
    flex:1;
    display: inline block;
    text-align: center;
    list-style-type: none;

}
ul.spaceList li p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20pt;
    font-weight: 900;
}


img.circular {
    border-radius: 46%;
    border:2px solid rgb(42, 111, 150);
    width: 80%;
}


.bookingButton {
    display: inline-flex;
    background-color: rgb(42, 111, 150);
    margin-bottom: 20px;
}

.bookingButton a {
    text-decoration: none;
}

.bookingButton a p{
    color: whitesmoke;
}

ul.features {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 30px;
}

ul.features li{
    flex:1;
    display: inline block;
    text-align: center;
    list-style-type: none;
}
ul.features p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16pt;
    font-weight: 600;
}

ul.features li img{
    border-radius: 10%;
    border:2px solid rgb(42, 111, 150);
    width: 80%;
}

.spaceImg {
    width: 80%;
}
